* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  margin: 0.65em;
}

/**
* we cram a lot of styling into the body now for a quick and dirty.
* clean up later!
*/

div.roundie {
  border: 1px solid black;
  margin: 50px auto 0 auto;
  padding: 14px 10px 30px 10px;
  width: 600px;
  -moz-border-radius: 10px;
}

body {
  margin-bottom: 100px;
}

h1 {
  text-align: center;
}

input {
  margin-top: 3px;
}

.smug-subhead {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 1.16em;
}

.officious {
  font-size: smaller;
}

.copyright {
  color: #888;
  font-size: 0.87em;
  font-style: italic;
  margin: 7px 0 0 0;
  text-align: center;
}

.copyright a {
  color: inherit;
  text-decoration: none;
}

ul.smaller-buttocks {
  font-size: smaller;
  font-weight: normal;
  margin-top: 1em;
}

.small-ass-instructions {
  font-size: smaller;
  font-style: italic;
}

.centered {
  text-align: center;
}

h2.common {
  color: #999;
  /*font-style: italic;*/
  text-align: center;
}

div.section {
  margin: 60px auto 0 auto;
}

table.vert-form {
  margin: 27px auto 0 auto;
  padding: 5px;
  border: 2px solid #ddd;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

table.vert-form th.label {
  width: 40%;
  text-align: right;
  padding: 3px 5px;
}

table.vert-form td.input {
  width: 40%;
  padding: 3px 5px;
}

ul.ass {
  margin-left: auto;
  margin-right: auto;
  width: 410px;
}

a.nav {
  color: #777;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}

a.nav:hover {
  text-decoration: underline;
}

div.alternatives {
  width: 200px;
  margin: 0 auto 0 auto;
}

ul.alternatives {
  font-family: "Trebuchet MS","Arial","Helvetica","Verdana","sans-serif";
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*width: 60%;*/
}

ul.alternatives li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  /*font-size: 1.4em;*/
  height: 18px;
}

ul.alternatives li span.ui-icon {
  position: absolute;
  margin-left: -1.3em;
}

.button-row {
  margin-top: 20px;
  text-align: center;
}

.submit-button {
  font-weight: bold;
  font-size: 1em;
  padding: 0 0.5em;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}

/* whose d to i have to s to .. */
.centered-content {
  margin-left: auto;
  margin-right: auto;
}

table.choice th {
  text-align: left;
  padding-left: 10px;
}

ul.alternatives li span.ord {
  padding-right: 0.3em;
  color: #777;
}

ul.alternatives li span.label {
  color: #100;
}

fieldset { /* meh */
  padding: 5px 10px;
  -moz-border-radius: 8px;
}

/* experiments for admin section start
adpated from
http://webdesignerwall.com/tutorials/cross-browser-css-gradient
*/
ul.h-nav {
  border: solid 1px #6d6d6d;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  background: #8b8b8b; /* for non-css3 browsers */
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9a9a9', endColorstr='#7a7a7a'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#a9a9a9), to(#7a7a7a)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #a9a9a9,  #7a7a7a); /* for firefox 3.6+ */
  margin: 0 0 6px 0;
  padding: 6px 6px 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}
ul.h-nav li {
  float: left;
  list-style: none;
  margin: 0 5px;
  padding: 0 0 6px;
  position: relative;
}
/* main level link */
ul.h-nav a {
  -webkit-border-radius: 1.3em;
  -moz-border-radius: 1.3em;
  font-weight: bold;
  color: #e7e5e5;
  display: block;
  margin: 0;
  padding:  3px 15px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
/* main level link hover */
ul.h-nav .current a, ul.h-nav li:hover > a {
  background: #d1d1d1; /* for non-css3 browsers */
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#a1a1a1'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#a1a1a1)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #ebebeb,  #a1a1a1); /* for firefox 3.6+ */
  border-top: solid 1px #f8f8f8;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  color: #444;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
}
/* sub levels link hover */
ul.h-nav ul li:hover a, ul.h-nav li:hover li a {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  color: #666;
}
ul.h-nav ul a:hover {
  background: #0399d4 !important; /* for non-css3 browsers */
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#04acec', endColorstr='#0186ba'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba)) !important; /* for webkit browsers */
  background: -moz-linear-gradient(top,  #04acec,  #0186ba) !important; /* for firefox 3.6+ */
  color: #fff !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}
/* level 2 list */
ul.h-nav ul {
  background: #ddd; /* for non-css3 browsers */
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cfcfcf'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cfcfcf)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #fff,  #cfcfcf); /* for firefox 3.6+ */
  border: solid 1px #b4b4b4;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  display: none;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 25px;
  width: 185px;
}
/* dropdown */
ul.h-nav li:hover > ul {
  display: block;
}
ul.h-nav ul li {
  float: none;
  margin: 0;
  padding: 0;
}
ul.h-nav ul a {
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .9);
}
/* level 3+ list */
ul.h-nav ul ul {
  left: 181px;
  top: -3px;
}
/* rounded corners for first and last child */
ul.h-nav ul li:first-child > a {
  -webkit-border-top-left-radius: 9px;
  -moz-border-radius-topleft: 9px;
  -webkit-border-top-right-radius: 9px;
  -moz-border-radius-topright: 9px;
}
ul.h-nav ul li:last-child > a {
  -webkit-border-bottom-left-radius: 9px;
  -moz-border-radius-bottomleft: 9px;
  -webkit-border-bottom-right-radius: 9px;
  -moz-border-radius-bottomright: 9px;
}

/* clearfix */
ul.h-nav:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
u.h-nav {
  display: inline-block;
}
html[xmlns] ul.h-nav {
  display: block;
}
* html ul.h-nav {
  height: 1%;
}