* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  margin: 0.65em;
}

/**
* we cram a lot of styling into the body now for a quick and dirty.
* clean up later!
*/

body {
  border: 1px solid black;
  margin: 50px auto 100px auto;
  padding: 10px 10px 30px 10px;
  width: 600px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

.smug-subhead {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 1.16em;
}

h2.common {
  color: #999;
  /*font-style: italic;*/
  text-align: center;
}

div.section {
  margin: 60px auto 0 auto;
}

ul.ass {
  margin-left: auto;
  margin-right: auto;
  width: 365px;
}

a.nav {
  color: #777;
  font-style: italic;  
  text-decoration: none;
}

a.nav:hover {
  text-decoration: underline;
}

div.alternatives {
  width: 200px;
  margin: 0 auto 0 auto;
}

ul.alternatives {
  font-family: "Trebuchet MS","Arial","Helvetica","Verdana","sans-serif";
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*width: 60%;*/
}

ul.alternatives li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  /*font-size: 1.4em;*/
  height: 18px;
}

ul.alternatives li span {
  position: absolute;
  margin-left: -1.3em;
}

.button-row {
  margin-top: 20px;
  text-align: center;
}

.submit-button {
  font-weight: bold;
  font-size: 1em;
  padding: 0 0.5em;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}

table.choice th {
  text-align: left;
  padding-left: 10px;
}
