<h1>AHA "Democratic Decision Engine"</h1>

<div class='smug-subhead'>A framework for choice.  A blueprint for freedom.</div>


<div class='section'>
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
  
	<h2 class='common'>Active Decisions</h2>

	<ul class='ass'>
		<li>AHA Bylaws Change April 2010 <a href='decision/bylaws' class='nav'>cast your vote</a></li>
	</ul>

	<ul class='ass'>
		<li>AHA Board Of Directors Election 1.0 <a href='decision/direlect-1' class='nav'>cast your vote</a> <b><i>(demo)</i></b></li>
	</ul>
</div>
