<div class='smug-subhead'>The All Hands Active</div>
<h1>Democratic Decision Engine</h1>

<div class='smug-subhead'>A framework for choice.  A blueprint for freedom.</div>

<div class='section'>
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>

	<h2 class='common'>Active Decisions</h2>
<%

# so ... yeah one we figure out the exact requirements for this
# we can automate it but for now we let ourselves go crazy here
# @todo

%>
	<ul class='ass'>
		<li>AHA Bylaws Change April 2011 <a href='decision/bylaws-2011-04-18-a' class='nav'>cast your vote</a></li>
	</ul>

	<ul class='ass'>
		<li>AHA Board Of Directors Election 1.0 <a href='decision/direlect-2011-04' class='nav'>cast your vote</a></li>
	</ul>
</div>
