<form action='create' method='post'>
<h1>Cast Your Vote!</h1>

<div class='smug-subhead'>You are casting a vote for the AHA Bylaws Change April 2010</div>

<br />
<br />

<p>
	The current bylaws state under Article VI &#167; 4, b. Elections:
</p>

<br />
<p>
&quot;Qualifying potential directors are elected to the positions for which they were nominated by direct vote of all members as per the regulations described above.&quot;
</p>

<br />

<p>
We propose to replace the last 6 words, so the statement reads:
</p>

<br />

<p>
&quot;Qualifying potential directors are elected to the positions for which they were nominated by direct vote of all members. Votes shall be tabulated by the Schulze-STV algorithm.&quot;
</p>


<br />


	
<div class='centered'>
<table class='choice'><tbody>
	
<tr>
	<td>
		<input type='radio' name='answer' value='yes' />
	</td>
	<th>
		Yes, I accept this bylaw amendment.
	</th>
</tr>
	
<tr>
	<td>
		<input type='radio' name='answer' value='no' />
	</td>
	<th>
		No, I do not accept this bylaw amendment.
	</th>
</tr>


<tr>
	<td>
		<input type='radio' name='answer' value='abstain' checked='checked' />
	</td>
	<th>
		Abstain.
	</th>
</tr>

<tr><td><colspan='2'>&nbsp;</td></tr>

<tr>
	<td colspan='2'>
	  <span class='label'>Your voting token:</span> 
		<input name='token' size='50'/>
	</td>
</tr>

</tbody></table>
</div>


	

<div class="button-row">
  <input class='submit-button' type="submit" value="Submit!" />
</div>



<div class="button-row">
  <a href='/' class='nav'>&lt;- go back to decisions list</a></p>
</div>



</form>
