<% if @decision.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@decision.errors.count, "error") %> with showing decision:</h2>

    <ul>
    <% @decision.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
